<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="http://localhost:3333/addProduct" method="POST">
      <h2>Add Product</h2>
      <label for="product_url">Product-URL:</label><br />
      <input type="text" id="product_url" name="product_url" /><br />
      <label for="product_name">Product-Name:</label><br />
      <input type="text" id="product_name" name="product_name" /><br />

      <h2>Add Product Description</h2>

      <label for="product_brief_description">Brief Description:</label><br />
      <textarea
        id="product_brief_description"
        name="product_brief_description"
      ></textarea
      ><br />
      <label for="product_description">Description:</label><br />
      <textarea id="product_description" name="product_description"></textarea
      ><br />
      <label for="product_img">Product Image URL:</label><br />
      <input type="text" id="product_img" name="product_img" /><br />
      <label for="product_link">Product Link:</label><br />
      <input type="text" id="product_link" name="product_link" />
      <h2>Add Product Price</h2>

      <label for="starting_price">Starting Price:</label><br />
      <input type="text" id="starting_price" name="starting_price" /><br />
      <label for="price_range">Price Range:</label><br />
      <input type="text" id="price_range" name="price_range" />
      <h2>Add Product User</h2>
      <label for="user_name">User Name:</label><br />
      <input type="text" id="user_name" name="user_name" /><br />
      <label for="user_password">User_password:</label><br />
      <input type="text" id="user_password" name="user_password" />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>

    </body>
</html>
